.DS_Store
node_modules
.next
target
test-ledger
dist
.turbo
apps/web/.next
apps/web/node_modules
apps/web/prisma/dev.db
apps/web/prisma/dev.db-journal
apps/web/prisma/prisma/dev.db
apps/web/prisma/prisma/dev.db-journal
